<ion-view title="Controle do Estacionamento">
    <ion-content>
        <div class="content">
            <form name="parkForm">
                <div class="row-center">
                    <div class="list">
                        <label class="item item-input item-floating-label">
                            <span class="input-label">Marca</span>
                            <select>
                                <option>Blue</option>
                                <option selected>Green</option>
                                <option>Red</option>
                            </select>
                        </label>

                    </div>
                </div>
            </form>
        </div>
    </ion-content>
</ion-view>